/* Colors */

$white: #fff;
$blue: #06023a;
$primary-text-color: #cccccc;
$dark_blue: #040437;
$yellow: #e4d73b;
$grey: #565656;
$dark_grey: #030437;

/* Fonts */

$Roboto_Condensed: Roboto Condensed, sans-serif;
$OpenSans_Regular: "Open Sans", sans-serif;

/* Reset */

%Reset {
  margin: 0;
  padding: 0;
}

/*title*/

$h2: 25px;
$h3: 22px;
$h5: 16px;

/*margin*/

.mb-45 {
  margin-bottom: 46px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-104 {
  margin-top: 104px;
}