/* Colors */

$white: #fff;
$blue: #06023a;
$primary-text-color: #cccccc;
$dark_blue: #040437;
$yellow: #e4d73b;
$grey: #565656;
$dark_grey: #030437;

/* Fonts */

$Roboto_Condensed: Roboto Condensed, sans-serif;
$OpenSans_Regular: 'Open Sans', sans-serif;

/* Reset */

%Reset {
  margin: 0;
  padding: 0;
}