.casino-item {
  padding-top: 104px;
}

.casino-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), #151515);
  height: 334px;
  position: relative;
}

.casino-info__title {
  font-family: $Roboto_Condensed;
  font-weight: 400;
  font-size: 22px;
  color: $white;
  margin-bottom: 24px;
  position: absolute;
  top: 293px;
  left: 28px;
}

.casino-info__rating {
  position: absolute;
  top: 295px;
  right: 20px;
}

.rating-num {
  display: inline-block;
  width: 30.7px;
  height: 25px;
  border-radius: 8px;
  background-color: #2e2e2e;
  font-family: $Roboto_Condensed;
  font-size: 17px;
  text-align: center;
  color: $white;
}

.casinos-infoblock {
  padding-top: 25px;
}

.casinos-infoblock__title {
  font-family: $Roboto_Condensed;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  color: $white;
  margin-bottom: 24px
}

.casinos-infoblock__text {
  @extend %Reset;
  font-family: $OpenSans_Regular;
  font-size: 15px;
  line-height: 1.47;
  color: $primary-text-color;
  margin-bottom: 60px;
}

.casinos-infoblock__btn {
  border: 0;
  height: 36px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(250, 239, 108, 0.42),
    0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #e4d73b;
  font-family: $Roboto_Condensed;
  font-size: 15px;
  text-align: center;
  color: #030437;
}

.casinos-infoblock__options {
  font-family: $Roboto_Condensed;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  color: #b6b5b5;
}
