.planets_1 {
	background: url('../img/planets_1.svg') no-repeat;
	display: block;
	width: 213px;
	height: 189px;
}

.slot_hero {
	background: url('../img/planets_2.svg') no-repeat;
	display: block;
	width: 200px;
	height: 205px;
	margin: 35px auto 0 auto;
}

.planets_3 {
	background: url('../img/planets_3.svg') no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
}

.bird {
	background: url('../img/slot_hero_1.png') no-repeat;
	display: block;
	width: 195px;
	height: 164px;
	position: absolute;
	top: -65px;
	left: 0;
}

.but {
	width: 163px;
	height: 48px;
	border-radius: 5px;
	display: inline-block;
	color: $dark_grey;
	font-family: $Roboto_Condensed;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 48px;

	&.yellow {
		box-shadow: 0 2px 15px rgba(250, 239, 108, 0.42), 0 2px 4px rgba(0, 0, 0, 0.5);
		background: $yellow;
	}

	&:hover {
		text-decoration: none;
		opacity: 0.8;
		color: $dark_grey;
	}

}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

.island_row {
	margin-top: 125px;
	margin-bottom: 160px;

	& p {
		color: $white;
		font-family: $Roboto_Condensed;
		font-size: 18px;
		font-weight: 100;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
	}

	& .but_row {
		& a {
			display: block;
			outline: none;

			& .but.yellow {
				vertical-align: middle;
				margin-top: 100px;
			}

			& .but {
				margin: 0 50px;
			}

			&:hover {
				text-decoration: none;
			}

		}

	}

}

.title {
	color: $white;
	font-family: $Roboto_Condensed;
	font-size: 22px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0 auto 25px auto;
}

.description {
	color: #ccc;
	font-family: $OpenSans_Regular;
	font-weight: 100;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}

.advantages {
	margin: 60px 0;

	& div {
		text-align: center;

		& .item {
			display: inline-block;
			text-align: left;
		}

	}

	& img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}

	& .txt {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		font-family: $Roboto_Condensed;
		font-size: 13px;
		font-weight: 400;
		line-height: 35px;
		text-align: left;

		& span {
			font-size: 31px;
			font-weight: 700;
		}

	}

}

.carousel_row {
	margin-bottom: 125px;
}

.cd-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.cd-container::after {

	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.cd-img-replace {

	/* replace text with background images */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

#cd-gallery-items {
	margin-top: 1.5em;
	list-style: none;
}

#cd-gallery-items > li {
	position: relative;
	list-style: none;
}

@media only screen and (min-width:768px) {
	#cd-gallery-items {
		margin-top: 2em;
	}

	#cd-gallery-items > li {
		width: 100%;
		float: left;
	}

	#cd-gallery-items > li:nth-child(2n) {
		margin-right: 0;
	}

}

@media only screen and (min-width:1170px) {
	#cd-gallery-items {
		margin-top: 2.5em;
	}

	#cd-gallery-items > li {
		width: 100%;
		float: left;
	}

	#cd-gallery-items > li:nth-child(2n) {
	}

	#cd-gallery-items > li:nth-child(3n) {
		margin-right: 0;
	}

}

.cd-item-wrapper {
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
	-webkit-perspective-origin: 50% -30%;
	-moz-perspective-origin: 50% -30%;
	perspective-origin: 50% -30%;
	list-style: none;
	padding: 0;
}

.cd-item-wrapper li {
	position: absolute;
	top: 0;
	left: 0;  /* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	list-style: none;
	width: 100%;

	& .labels {
		position: absolute;
		top: 0px;
		right: 10px;

		& .lbl {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			text-align: center;
			line-height: 40px;
			margin: 10px 0;

			&.yellow {
				box-shadow: 0 4px 8px #7e761d, 0 2px 7px rgba(0, 0, 0, 0.5);
				background-color: #e4d73b;

				& img {
					width: 35px;
					height: 42px;
				}

			}

			&.green {
				box-shadow: 0 4px 8px #0b5431, 0 2px 7px rgba(0, 0, 0, 0.5);
				background-color: #7ed321;

				& img {
					width: 15px;
					height: 25px;
					display: inline-block;
				}

			}

		}

	}

	& .img {
		position: relative;
		overflow: hidden;
		border-radius: 8px 8px 0 0;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #151515 100%);
			position: absolute;
			top: 0;
			bottom: 0;
		}

		& .but {
			width: 123px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			position: absolute;
			z-index: 10;
			top: 50%;
			margin-top: -20px;
			left: 50%;
			margin-left: -75px;
			opacity: 0;

			& img {
				width: 20px;
				height: 20px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				margin-top: -4px;
			}

		}

	}

	& .bottom_block {
		box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
		border-radius: 0 0 8px 8px;
		background-color: #151515;
		position: relative;
		padding-bottom: 10px;

		& .title {
			color: $white;
			font-family: $Roboto_Condensed;
			font-size: 18px;
			font-weight: 100;
			text-transform: uppercase;
			display: block;
			text-align: center;
			margin-bottom: 0;
		}

		& .under_title {
			color: $grey;
			font-family: $OpenSans_Regular;
			font-size: 14px;
			text-align: center;
		}

		& .logo_slots {
			width: 92px;
			height: 28px;
			border-radius: 8px;
			background-color: #3a3a3a;
			opacity: 0.85;
			position: relative;
			display: block;
			margin: 15px auto 0 auto;
			text-align: center;

			& img {
				max-width: 55px;
				max-height: 18px;
				display: inline-block;
			}

		}

	}

	&:hover {
		& .img {
			&> img {
				-webkit-filter: blur(10px);
				filter: blur(10px);
			}

			& .but {
				opacity: 1;
			}

		}

	}

	& .img.filter {
		&> img {
			-webkit-filter: blur(10px);
			filter: blur(10px);
		}

	}

	.but_more {
		width: 29px;
		height: 29px;
		background-color: #3e3e3e;
		border-radius: 100%;
		display: block;
		position: absolute;
		bottom: 10px;
		right: 10px;
		text-align: center;
		color: #151515;
		font-size: 30px;
		font-weight: 600;
		line-height: 14px;

		&:hover {
			color: #151515;
			background-color: #e4d73b;
			text-decoration: none;
		}

	}

	& .mid_cont {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 20px;

		& .second_title {
			color: $white;
			font-family: $Roboto_Condensed;
			font-size: 17px;
			border-bottom: 1px solid $white;
			margin-bottom: 10px;
			font-weight: 100;
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			opacity: 0;
		}

		& .desc {
			color: $white;
			font-family: $OpenSans_Regular;
			font-size: 14px;
			line-height: 21px;
			font-weight: 100;

			& .grey {
				color: #565656;
			}

		}

	}

	&.sec_block {
		& .labels {
			position: relative;
			right: inherit;
			top: inherit;
			margin-left: 20px;

			& .item {
				display: inline-block;
				vertical-align: middle;
				width: 49%;
			}

			& .lbl {
				display: inline-block;
				vertical-align: middle;
				margin: 4px 0;

				& img {
					display: inline-block;
					vertical-align: middle;
				}

			}

			& .txt {
				display: inline-block;
				vertical-align: middle;
				width: 49%;
				color: #b6b5b5;
				font-family: $Roboto_Condensed;
				font-size: 13px;
				font-weight: 100;
				line-height: 13px;
				text-transform: uppercase;
				margin-left: 5px;
			}

		}

		& .but_more {
			color: #151515;
			background-color: #e4d73b;
			text-decoration: none;
		}

		& .logo_slots {
			margin: 15px 0 0 20px;
		}

	}

}

.cd-item-wrapper li.cd-item-front {
	position: relative;
	z-index: 3;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

	& .second_title {
		opacity: 1;
	}

}

.cd-item-wrapper li.cd-item-middle {
	z-index: 2;
}

.active .cd-item-wrapper li.cd-item-middle {

	/* 3D effect on touch devices */
	-webkit-transform: translate3d(0, 0, -20px);
	-moz-transform: translate3d(0, 0, -20px);
	-ms-transform: translate3d(0, 0, -20px);
	-o-transform: translate3d(0, 0, -20px);
	transform: translate3d(0, 0, -20px);
	opacity: .8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.cd-item-wrapper li.cd-item-back {
	z-index: 1;
}

.active .cd-item-wrapper li.cd-item-back {

	/* 3D effect on touch devices */
	-webkit-transform: translate3d(0, 0, -40px);
	-moz-transform: translate3d(0, 0, -40px);
	-ms-transform: translate3d(0, 0, -40px);
	-o-transform: translate3d(0, 0, -40px);
	transform: translate3d(0, 0, -40px);
	opacity: .4;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.cd-item-wrapper li.cd-item-out {

	/* picture not visible - use this class in case you have more than 3 pictures per item */
	z-index: 0;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, -60px);
	-moz-transform: translate3d(0, 0, -60px);
	-ms-transform: translate3d(0, 0, -60px);
	-o-transform: translate3d(0, 0, -60px);
	transform: translate3d(0, 0, -60px);
}

.cd-item-wrapper li.move-right {
	-webkit-transform: translate3d(200px, 0, 0);
	-moz-transform: translate3d(200px, 0, 0);
	-ms-transform: translate3d(200px, 0, 0);
	-o-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
	opacity: 0;
	z-index: 4 !important;
}

.cd-item-wrapper li.hidden {

	/* used to hide the picture once it's pushed out - to the right */
	display: none !important;
}

.no-csstransitions .cd-item-wrapper li.cd-item-middle, .no-csstransitions .cd-item-wrapper li.cd-item-back {

	/* 3D effect not visible on browsers that don't support transitions */
	display: none;
}

.cd-item-info {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #f2f2f2;
	padding: 0 1em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

.cd-item-info:after {
	content: "";
	display: table;
	clear: both;
}

.cd-item-info b {
	float: left;
	font-weight: bold;
}

.cd-item-info b a {
	color: #323d55;
}

.cd-item-info b a:hover {
	text-decoration: underline;
}

.cd-item-info em {
	float: right;
	color: #7385ad;
}

.sl_but {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.cd-item-navigation {
	padding: 0;
	list-style: none;
}

.cd-item-navigation a {
	width: 29px;
	height: 29px;
	background-color: #3e3e3e;
	border-radius: 100%;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: center;
	color: #151515;
	font-size: 30px;
	font-weight: 600;
	line-height: 14px;
	background-image: url("https://codyhouse.co/demo/3d-items-quick-view/img/cd-icon-arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-item-navigation a:hover {
	color: #151515;
	background-color: #e4d73b;
}

.cd-item-navigation a.visible {
	display: block;
	-webkit-animation: cd-fade-in 0.4s;
	-moz-animation: cd-fade-in 0.4s;
	animation: cd-fade-in 0.4s;
}

.cd-item-navigation li:nth-child(1) a {
	right: 50px;
	-webkit-transform: translateY(0) rotate(180deg);
	-moz-transform: translateY(0) rotate(180deg);
	-ms-transform: translateY(0) rotate(180deg);
	-o-transform: translateY(0) rotate(180deg);
	transform: translateY(0) rotate(180deg);
	display: none;
}

.cd-item-navigation .but_back.active {
	display: block;
}

.cd-item-navigation li:nth-child(2) a {
	right: 14px;
}

.no-csstransitions .cd-item-navigation {
	display: none;
}

.dots {
	vertical-align: middle;
	margin-top: -12px;
	display: inline-block;
	line-height: initial;
	margin-right: 10px;
	font-weight: 700;
	font-size: 20px;
}

@-webkit-keyframes cd-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@-moz-keyframes cd-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@keyframes cd-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

.but_read_more {
	margin: 25px 0;
	text-align: center;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
	display: block;
}

.owl-carousel .owl-nav .owl-prev {
	position: absolute;
	top: 50%;
	margin-top: -19px;
	margin-left: -5%;
}

.owl-carousel .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -19px;
	margin-right: -5%;
}

.owl-carousel {
	& .owl-dots {
		position: relative;
		text-align: center;
		margin-top: 40px;

		& .owl-dot {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #2d2f8a;
			border-radius: 100%;
			margin: 0 5px;

			&.active {
				background-color: #e4d73b;
			}

		}

	}

}

.cd_ratings_blocks {
	margin-bottom: 50px;

	& .cd-item-wrapper {
		& li {
			& .img {
				&:after {
					content: none;
				}

				& .but {
					margin-left: -60px;
				}

				&.filter {
					height: 180px;

					& > img {
						-webkit-filter: blur(10px);
						filter: blur(10px);
						height: 100%;
						width: auto;
						margin-left: -5%;
					}

				}

			}

			& .rating-stars__items {
				padding: 5px;
			}

			& .casino-info__rating {
				left: 50%;
				margin-left: -95px;

				& .rating-stars {
					width: 193px;
				}

			}

			& .bottom_block {
				padding-top: 15px;
				padding-bottom: 40px;

				& .under_title {
					color: #b9b9b9;
					font-family: $OpenSans_Regular;
					font-size: 14px;
					line-height: 21px;

					& span {
						color: $grey;
					}

				}

				& .labels {
					position: relative;
					right: inherit;
					top: inherit;
					margin-left: 20px;

					& .item {
						display: inline-block;
						vertical-align: middle;
						width: 49%;

						& .lbl {
							display: inline-block;
							vertical-align: middle;
							margin: 4px 0;
						}

						& .txt {
							display: inline-block;
							vertical-align: middle;
							width: 49%;
							color: #b6b5b5;
							font-family: $Roboto_Condensed;
							font-size: 13px;
							font-weight: 100;
							line-height: 13px;
							text-transform: uppercase;
							margin-left: 5px;
						}

					}

				}

			}

		}

	}

}

.rating-stars__items {
	& li {
		position: relative;
		transform: inherit;
		left: inherit;
		top: inherit;
		width: auto;
	}

}

footer {
	margin-top: 60px;
}

.footer_container {
	background: url('../img/footer_background.png') no-repeat top center;
	background-size: cover;
	height: 430px;
	padding-top: 125px;

	& ul {
		padding: 0;
		list-style: none;

		& li {
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;

			& a {
				opacity: 0.93;
				color: $white;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}

		}

	}

	& .logo {
		height: 124px;

		& img {
			max-width: 100%;
			height: auto;
		}

	}

	& .text {
		color: #cdcdcd;
		font-family: $Roboto_Condensed;
		font-size: 15px;
		font-weight: 400;
		margin-top: 40px;
		text-align: center;
	}

}

.copyright {
	background-color: #151515;
	color: #cdcdcd;
	font-family: $Roboto_Condensed;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	padding: 20px 0;
}
