.casino-info {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.casino-info__title {
  margin: 0;
  font-family: $Roboto_Condensed;
  font-weight: 400;
  font-size: $h3;
  color: $white;
  position: absolute;
  bottom: 14px;
  left: 28px;
}

.casino-info__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.casino-info__img {
  display: block;
  width: 100%;
  height: auto;
  z-index: -10;
}

.info-img-box {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), #151515);
  min-width: 100%;
  min-height: 100px;
  border-radius: 8px;
  z-index: 1000000;
}

.casino-info__rating {
  display: flex;
}

.rating-stars {
  width: 185px; //adaptive???????????????
  height: 25px;
  border-radius: 8px;
  background-color: #2e2e2e;
}

.rating-stars__items {
  @extend %Reset;
  list-style: none;
  display: flex;
}

.rating-stars__icon {
  width: 17px;
  height: 15px;
}

.casino-info__rating {
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.rating-total {
  display: inline-block;
  width: 30.7px; //adaptive?????????????
  border-radius: 8px;
  background-color: #2e2e2e;
  font-family: $Roboto_Condensed;
  font-size: 17px;
  text-align: center;
  color: $white;
  margin-left: 13px;
}

.casinos-infoblock {
  padding-top: 25px;
}

.casinos-infoblock__title {
  @extend %Reset;
  font-family: $Roboto_Condensed;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $h3;
  color: $white;
  margin-bottom: 24px;
}

.casinos-infoblock__text {
  @extend %Reset;
  font-family: $OpenSans_Regular;
  font-size: 15px;
  line-height: 1.47;
  color: $primary-text-color;
  margin-bottom: 60px;
}

.casinos-infoblock__box {
  display: flex;
  align-items: center;
}

.casino-btn__yellow {
  height: 36px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(250, 239, 108, 0.42),
    0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #e4d73b;
  font-family: $Roboto_Condensed;
  font-size: 15px;
  text-align: center;
  color: #030437;
  line-height: 36px;
}

.casinos-infoblock__btn {
  flex: 60%;
  margin-right: 37px;
}

.stikers-info {
  display: flex;
}

.stikers-info__item {
  display: flex;
}

.stikers-info__icon {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-ourchoese {
  background-image: url("./../../img/ourchoese_icon.svg");
}

.fa-mobile-friendly {
  background-image: url("./../../img/stiker-mobile.svg");
}

.stikers-info__text {
  width: 60px;
  font-family: $Roboto_Condensed;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  color: #b6b5b5;
}

.sucs-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sucs-block__item {
  flex: 0 0 11.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sucs-block__icon {
  width: 58px;
  height: 59px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-green_ok {
  background-image: url("./../../img/green_ok_icon.svg");
}

.fa-red_ok {
  background-image: url("./../../img/red_ok_icon.svg");
}

.sucs-block__text {
  margin: 0;
  color: $white;
  font-family: $OpenSans_Regular;
  font-size: 15px;
  text-align: center;
}

.partner {
  display: flex;
  border-radius: 8px;
  background-color: #151515;
  padding: 12px 33px 18px 33px;
}

.partner__box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partner__item {
  width: 167px;
  height: 147px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.74);
  border-radius: 8px;
  background-color: rgba(62, 62, 62, 0.36);
  // opacity: 0.36;
  z-index: 0;
}

.partner-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(62, 62, 62, 0.68);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4px;
  z-index: 10;
}

.partner__title {
  flex: 0 0 12%;
  padding-top: 45px;
  margin: 0;
  color: $white;
  font-family: $Roboto_Condensed;
  font-size: $h2;
  font-weight: 400;
  text-transform: uppercase;
}

.partner-card__logo {
  flex: 0 0 60%;
}

.partner-card__title {
  margin: 0;
  color: $white;
  font-family: $Roboto_Condensed;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}

.partner-card__img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-show {
  @extend %Reset;
  display: inline-block;
  width: 99px;
  height: 27px;
  border-radius: 4px;
  border: 1px solid $yellow;
  font-family: $Roboto_Condensed;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  // background: rgba(0, 0, 0, 0);
  color: $yellow;
}

.article-casino {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.article-casino__title {
  margin: 0;
  display: flex;
  align-items: center;
  color: $white;
  font-family: $Roboto_Condensed;
  font-size: $h3;
  text-transform: uppercase;
  font-weight: 400;
  &::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("./../../img/question-mark.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 23px;
  }
}

.article-casino__text {
  margin: 0;
  color: $primary-text-color;
  font-family: $OpenSans_Regular;
  font-size: 15px;
  line-height: 22px;
  margin-top: 15px;
}

.info-sidebar,
.top-casinos-block {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.44);
  border-radius: 8px;
  background-color: rgba(21, 21, 21, 0.73);
  position: relative;
}

.info-sidebar {
  margin-bottom: 57px;
}

.info-sidebar__header,
.top-casinos-block__header {
  height: 51px;
  border-radius: 8px 8px 0 0;
  background-color: #1f3184;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.info-sidebar__title,
.top-casinos-block__title {
  margin: 0;
  color: #5e6fbe;
  font-family: $Roboto_Condensed;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-sideba__main {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.info-sidebar__row {
  display: flex;
  margin-bottom: 16px;
}

.info-sidebar__row--title {
  flex: 0 0 40%;
  color: #636363;
  font-family: $Roboto_Condensed;
  font-size: 16px;
}

.info-sidebar__row--text {
  flex: 0 0 60%;
  color: $white;
  font-family: $Roboto_Condensed;
  font-size: 16px;
}

.info-sidebar__btn {
  width: 90%;
  align-self: center;
  margin-bottom: 27px;
}

.info-sidebar__stikers {
  align-self: center;
}

.top-casinos-block__main {
  padding: 25px 13px 45px 13px;
}

.top-casinos-block__logo {
  align-self: flex-end;
}

.top-casinos-block__row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.top-casinos-block__img {
  flex: 0 0 29%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.74);
}

.top-casinos-img {
  display: block;
  width: 100%;
  height: auto;
}

.top-casinos-box__btn {
  flex: 0 0 64%;
}

.top-casinos__btn {
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}

.top-casinos-box__btn--play,
.top-casinos-box__btn--more {
  flex: 0 0 47%;
  height: 36px;
}

.top-casinos-box__text {
  display: block;
  color: $white;
  font-family: $Roboto_Condensed;
  font-size: 15px;
  margin-bottom: 8px;
}

.btn-show--mt {
  margin-top: 15px;
}

.mb-45 {
  margin-bottom: 46px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-104 {
  margin-top: 104px;
}
