*{
	transition: .5s;
}
html{
	height: 100%;
}
body {
	background: $dark_blue url(../img/background.svg) no-repeat top center;
    height: 100%;
    background-size: cover; 
}

.wrapper{
	    background: url(../img/background_png.png) no-repeat;
    background-size: 100%;
}