header {
	background: url('../img/background_png.png') no-repeat;
	background-size: cover;

	& .head_top {
		height: 118px;
	}

	& .head_bottom {
		margin-top: 125px;

		p {
			color: $white;
			font-family: $Roboto_Condensed;
			font-size: 18px;
			font-weight: 100;
			line-height: 28px;
			text-transform: uppercase;
			text-align: center;
		}

	}

}

#logo {
	width: 189px;
	height: 124px;

	& img {
		max-width: 100%;
		height: auto;
	}

}

.navbar {
	padding-top: 0;
}

.navbar-nav {
	& .nav-link {
		color: $white;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		opacity: .36;
		position: relative;
		padding-top: 40px;

		&:before {
			content: '';
			width: 100%;
			height: 10px;
			box-shadow: 0 18px 15px rgba(237, 255, 91, 0.33), 0 5px 11px rgba(241, 255, 0, 0.5);
			border-radius: 0 0 5px 5px;
			background-image: linear-gradient(180deg, #faed56 0%, #ddd033 100%);
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		&:hover, &:active {
			opacity: 1;

			&:before {
				opacity: 1;
			}

		}

	}

	& .active .nav-link {
		opacity: 1;

		&:before {
			opacity: 1;
		}

	}

	& form[role="search"] {
		position: absolute;
		top: 37px;
		right: 0px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		z-index: 0;
		transition: 0s;
	}

	& form[role="search"] button, & form[role="search"] input {
		padding: 8px 12px;
		border-radius: 0px;
		border-width: 0px;
		color: rgb(119, 119, 119);
		background-color: rgb(248, 248, 248);
		border-color: rgb(231, 231, 231);
		box-shadow: none;
		outline: none;
	}

	& form[role="search"] .submit_but, & form[role="search"] .reset {
		background: transparent;
		padding: 0;
		border-color: transparent;
	}

	& form[role="search"] input {
		padding: 16px 12px;
		font-size: 14pt;
		font-style: italic;
		color: rgb(160, 160, 160);
		box-shadow: none;
	}

	& form[role="search"] button[type="reset"] {
		display: none;
	}

}

.planets_1 {
	background: url('../img/planets_1.svg') no-repeat;
	display: block;
	width: 213px;
	height: 189px;
}

.slot_hero {
	background: url('../img/planets_2.svg') no-repeat;
	display: block;
    width: 200px;
    height: 205px;
    margin: 0 auto;
}

.planets_3 {
	background: url('../img/planets_3.svg') no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
}

.bird {
	background: url('../img/slot_hero_1.png') no-repeat;
	display: block;
	width: 195px;
	height: 164px;
	position: absolute;
	top: -95px;
	left: 0;
}

@media (min-width:768px) {
	.navbar-nav {
		padding-top: 0px !important;
		padding-right: 38px !important;

		& form[role="search"] {
			width: 38px;
		}

		& form[role="search"] button, & form[role="search"] input {
			padding: 15px 12px;
		}

		& form[role="search"] .submit_but, & form[role="search"] .reset {
			padding: 0;
		}

		& form[role="search"] input {
			font-size: 18pt;
			opacity: 0;
			display: none;
			height: 50px;
		}

		& form[role="search"].active {
			width: 100%;
		}

		& form[role="search"].active button, & form[role="search"].active input {
			display: table-cell;
			opacity: 1;
		}

		& form[role="search"].active input {
			width: 90%;
		}

	}

}
